# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#########################
# Template addition
#########################

# Building directories
*build*
*bin*
*output*

# Jetbrain's
.idea/

* Visual Studio's
.vs/
CMakeSettings*

# QtCreator's
CMakeLists.txt.user*

#clang format
.clang-format

#doxygen
doc/docs*
